        #NORDICROSE {
            font-size: 35px;
            letter-spacing: 5px;
            font-weight: 500;
            margin: 20px 0px 0px 40px;
            text-shadow: 2px 2px #cecaca;
        }
        
        #navul {
            margin: 20px 0px 0px 0px;
            position: absolute;
            right: 100px;
        }
        
        #navul>li {
            padding: 15px;
            font-size: 20px;
            font-weight: 500;
        }
        
        #hr2 {
            border: 2px rgb(0, 0, 0) solid;
            margin-top: 50px;
            margin-left: 29%;
            margin-right: 26%;
        }
        
        .image {
            margin: 10px 0px 0px 400px;
        }
        
        .image2 {
            margin: 10px 0px 0px 380px;
        }
        
        #p1 {
            margin: -50px 0px 0px 470px;
            font-size: 18px;
            font-weight: 700;
        }
        
        #p2 {
            margin: 0px 0px 30px 470px;
            font-weight: 500;
            font-size: 13px;
        }
        
        #p3 {
            margin-top: 50px;
            margin-left: 29%;
            margin-right: 26%;
        }
        
        #heading1 {
            margin-top: 40px;
            margin-left: 29%;
            margin-right: 26%;
            font-weight: bold;
        }
        
        .image3 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        
        #unorderlist {
            margin-top: 40px;
            margin-left: 29%;
            margin-right: 26%;
            font-weight: 500;
        }
        
        #unorderlist>li {
            line-height: 30px;
        }
        
        .Rectangle {
            margin-top: 40px;
            margin-left: 29%;
            margin-right: 23%;
        }
        
        #tw {
            margin-top: -103px;
            margin-left: 35%;
        }
        
        #fb {
            margin-top: -152px;
            margin-left: 57%;
        }
        
        .tags {
            margin-left: 29%;
            margin-right: 26%;
            margin: 0px 300px 30px 395px;
            font-weight: 600;
            font-size: 15px;
        }
        
        .tags2 {
            margin: 0px 300px 70px 470px;
            font-weight: 500;
            font-size: 14px;
        }
        
        .h3 {
            border: 1px rgb(0, 0, 0) dashed;
            margin-left: 30%;
            margin-right: 23%;
        }
        
        .eye {
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 40px;
        }
        
        .card-text {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        
        .card {
            position: relative;
            right: 40px;
            margin-left: 25%;
            margin-right: 30%;
            width: 300px;
        }
        
        .card1 {
            position: relative;
            left: 92px;
        }
        
        .card3 {
            position: relative;
            right: 172px;
        }
        
        .card2 {
            position: relative;
        }
        /* ------------------------------newsletter------------------ */
        
        .newsletter-subscribe {
            color: #313437;
            background-color: #fff;
            padding: 50px 0;
        }
        
        .newsletter-subscribe p {
            color: #7d8285;
            line-height: 1.5;
        }
        
        .newsletter-subscribe h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 25px;
            line-height: 1.5;
            padding-top: 0;
            margin-top: 0;
            color: inherit;
        }
        
        .newsletter-subscribe .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 25px;
        }
        
        .newsletter-subscribe .intro p {
            margin-bottom: 35px;
        }
        
        .newsletter-subscribe form {
            justify-content: center;
        }
        
        .newsletter-subscribe form .form-control {
            background: #eff1f4;
            border: none;
            border-radius: 3px;
            box-shadow: none;
            outline: none;
            color: inherit;
            text-indent: 9px;
            height: 45px;
            margin-right: 10px;
            min-width: 250px;
        }
        
        .newsletter-subscribe form .btn {
            padding: 16px 32px;
            border: none;
            background: none;
            box-shadow: none;
            text-shadow: none;
            opacity: 0.9;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 0.4px;
            line-height: 1;
        }
        
        .newsletter-subscribe form .btn:hover {
            opacity: 1;
        }
        
        .newsletter-subscribe form .btn:active {
            transform: translateY(1px);
        }
        
        .newsletter-subscribe form .btn-primary {
            background-color: #055ada !important;
            color: #fff;
            outline: none !important;
        }
        
        #boeder {
            width: 500px;
            height: 300px;
            border: 1px solid black;
            margin-left: 430px;
            margin-top: 50px;
            border-top: 8px solid black;
        }
        
        #textcenter {
            font-weight: 700;
            font-size: 30px;
        }
        
        input[type=email] {
            width: 350px;
        }
        
        #buutin {
            margin: -50px 20px 20px 335px;
        }